body {
      background-color: #27374D;
  }
  nav {
      background-color: #9DB2BF;
  }
  #navebarcontainer {
      margin-left: 100px;
      font-size: 16px;
      font-weight: bold;
  }
  #footerIcon:hover {
      cursor: pointer;
      color: white;
      transform: scale(1.4);
      transition: transform 1ms ease;
  }
  .dropdown-menu {
      position: absolute;
      padding: 10px;
      margin-left: 85%;
      font-size: 16px;
  }
  .card {
      width: 16rem;
      margin-bottom: 2rem;
  }
  .card:hover {
      box-shadow: 0px 4px 5px rgba(211, 238, 9, 0.726);
      transform: scale(1.1);
      transition: transform 300ms ease;
  }
  @media only screen and (max-width: 480px){

    .dropdown-menu {
            position: absolute;
            padding: 10px;
            margin-left:30%;
            font-size: 16px;
        }
        .modal{
            margin-top: 30%;
        }

  }
    

